[Desktop Entry]
Version=1.0
Type=Link
Name=Latex Bar Graphs and Pie Charts using Tikz - Javatpoint
Comment=
Icon=user-bookmarks
URL=https://www.javatpoint.com/latex-bar-graphs-and-pie-charts-using-tikz
